<!DOCTYPE html>
<html lang="en">

<head>


</head>

<body id="page-top" class="index">

    <a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="BARF">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<form action="localhost:3000">
  Twitter: <input type="text" name="twitchname"><br>
  Twitch: <input type="text" name="twittername"><br>
  LinkedIn: <input type="text" name="linkedinname"><br>
  <input type="submit" />
</form>
        
                    <a class="twitter-timeline" href="https://twitter.com/'twittername'" data-widget-id="688536531439607808">Tweets by @'twittername'</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                    </script>

                    <script src="//platform.linkedin.com/in.js" type="text/javascript">
                    </script>
                    <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/joshuasrhu" data-format="inline">
                    </script>

                    <div align="left">
                        <object type="application/x-shockwave-flash" height="500" width="900"     id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel='twitchname'" bgcolor="#000000">
                        <param name="allowFullScreen" value="true" />
                        <param name="allowScriptAccess" value="always" />
                        <param name="allowNetworking" value="all" />
                        <param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" />
                        <param name="flashvars" value="hostname=www.twitch.t &channel='twitchname'&auto_play=true&start_volume=25" />
                    </object>
                </div>
                





</body>

</html>
