<!DOCTYPE html>

<div class="jumbotron">
	<div class="container">
  		<h1>Hoverboard</h1>
  		<p>Back to the future is here with our new hoverboard technology. Follow us on our progress to recreate the hoverboard we all know and want!</p>
	</div>
</div>

<div class="container">
	<center>
	<object type="application/x-shockwave-flash" height="445" width="800"     id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=RiotGames2" bgcolor="#000000">
    	<param name="allowFullScreen" value="true" />
    	<param name="allowScriptAccess" value="always" />
    	<param name="allowNetworking" value="all" />
    	<param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" />
    	<param name="flashvars" value="hostname=www.twitch.t &channel=RiotGames2&auto_play=true&start_volume=25" />
    </object>
    </center>
</div>
<center>
<div>

    <a class="twitter-timeline" href="https://twitter.com/SamJaxx" data-widget-id="688645315663138816">Tweets by @SamJaxx</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	</script>

	<a class="twitter-timeline" href="https://twitter.com/hashtag/hoverboard" data-widget-id="688650573604896768">#hoverboard Tweets</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	</script>
	
</div>
</center>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
      </div>
    </div>
  </div>
</div>